<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('assets/images/about-bg.jpg'); background-position-y:-6px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About this awesome project</h1>
                        <hr class="small">
                        <span class="subheading">Developing, learning and helping.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>This project was designed to help <a href="http://dimitrilameri.com">me</a> study a little about this amazing framework that is <a href="emberjs.com">Ember</a> and at the same time forces me to, finally, create me own blog.</p>
                <p>It consists of a series of posts about the development of this blog, what i have done and the code to make it happens.</p>
                <p>The source code of this project is available at <a href="https://github.com/dlameri/Ember-bloglog">GitHub</a> and is open for change.</p>
                <p>Any ideas of what could've been done better or any code that code be refactored or typos and grammatical mistakes, please feel free to contact me or make a pull request.</p>
                <p>I hope everybody enjoys this baptism of fire with <a href="emberjs.com">Ember</a></p>
            </div>
        </div>
    </div>

    <hr>